<div class="mt-5 mb-3">
  {{#if shortUrlKey}}
    <h3 id="shortUrl" class="mx-auto">{{domain}}{{shortUrlKey}}</h3>
    <button type="button" id="copy" class="btn btn-info mt-1">{{ui.copy_button}}</button>
  {{/if}}

  <form action="/" method="POST">
    <div class="form-group">
      <label for="originalUrl"></label>
      <input type="url" class="form-control w-75 mx-auto" id="originalUrl" name="originalUrl" aria-describedby="urlHelp"
        placeholder="{{ui.input_placeholder}}" value="{{originalUrl}}">
    </div>

    <button type="submit" class="btn btn-primary">{{ui.generate_button}}</button>
  </form>
</div>