<div class="mt-5 mb-3">

  {{#if unreal_url}}
    <div class="alert alert-success alert-dismissible fade show text-center mx-auto" role="alert">
      {{ui.unreal_url_msg}}
    </div>
  {{/if}}

  {{#if empty_url}}
    <div class="alert alert-success alert-dismissible fade show text-center mx-auto" role="alert">
      {{ui.empty_url_msg}}
    </div>
  {{/if}}

  <form action="/" method="POST">
    <div class="form-group mx-2">
      <label for="originalUrl"></label>
      <input type="url" class="form-control mx-auto py-4" id="originalUrl" name="originalUrl" aria-describedby="urlHelp"
        placeholder="{{ui.input_placeholder}}" value="{{{originalUrl}}}">
    </div>

    <button type="submit" class="btn btn-primary shadow-sm mt-3">{{ui.generate_button}}</button>
  </form>
</div>