<div class="d-flex justify-content-around flex-column w-100 h-75 mt-5">

  {{#if unreal_url}}
    <div class="w-100 mx-auto text-center alert alert-success alert-dismissible fade show" role="alert">
      {{ui.unreal_url_msg}}
    </div>
  {{/if}}

  {{#if empty_url}}
    <div class="w-100 mx-auto text-center alert alert-success alert-dismissible fade show" role="alert">
      {{ui.empty_url_msg}}
    </div>
  {{/if}}

  <form action="/" method="POST">
    <div class="w-100 form-group">
      <label for="originalUrl"></label>
      <input type="url" class="original-url mx-auto py-4 form-control" id="originalUrl" name="originalUrl" aria-describedby="urlHelp"
        placeholder="{{ui.input_placeholder}}" value="{{{originalUrl}}}">
    </div>

    <button type="submit" class="mt-3 btn btn-primary shadow-sm">{{ui.generate_button}}</button>
  </form>
</div>